<?xml version="1.0" encoding="UTF-8"?>
<!-- This web.xml file is not required when using Servlet 3.0 container,
     see implementation details http://jersey.java.net/nonav/documentation/latest/jax-rs.html -->
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <!--  Servlet for the temperature web service -->
	<filter>
		<filter-name>TemperatureWS</filter-name>
		<filter-class>org.glassfish.jersey.servlet.ServletContainer</filter-class>
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>TemperatureWS</param-value>
		</init-param>
		<init-param>
			<param-name>jersey.config.servlet.filter.contextPath</param-name>
			<param-value>/temperature</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>TemperatureWS</filter-name>
		<url-pattern>/temperature/*</url-pattern>
	</filter-mapping>
	
	<!--  Servlet for the gas sensor web service -->
	<filter>
		<filter-name>GasSensorWS</filter-name>
		<filter-class>org.glassfish.jersey.servlet.ServletContainer</filter-class>
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>GasSensorWS</param-value>
		</init-param>
		<init-param>
			<param-name>jersey.config.servlet.filter.contextPath</param-name>
			<param-value>/gas</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>GasSensorWS</filter-name>
		<url-pattern>/gas/*</url-pattern>
	</filter-mapping>
	
	<!--  Servlet for the gas sensor web service -->
	<filter>
		<filter-name>LightWS</filter-name>
		<filter-class>org.glassfish.jersey.servlet.ServletContainer</filter-class>
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>LightWS</param-value>
		</init-param>
		<init-param>
			<param-name>jersey.config.servlet.filter.contextPath</param-name>
			<param-value>/light</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>LightWS</filter-name>
		<url-pattern>/light/*</url-pattern>
	</filter-mapping>
	
	<!--  Servlet for the gas sensor web service -->
	<filter>
		<filter-name>LampWS</filter-name>
		<filter-class>org.glassfish.jersey.servlet.ServletContainer</filter-class>
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>LampWS</param-value>
		</init-param>
		<init-param>
			<param-name>jersey.config.servlet.filter.contextPath</param-name>
			<param-value>/lamp</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>LampWS</filter-name>
		<url-pattern>/lamp/*</url-pattern>
	</filter-mapping>
	
	
	<!--  Servlet for the controller web service -->
	<filter>
		<filter-name>Controller</filter-name>
		<filter-class>org.glassfish.jersey.servlet.ServletContainer</filter-class>
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>Controller</param-value>
		</init-param>
		<init-param>
			<param-name>jersey.config.servlet.filter.contextPath</param-name>
			<param-value>/controller</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>Controller</filter-name>
		<url-pattern>/controller/*</url-pattern>
	</filter-mapping>
	
	<!--  Servlet for the jsp dashboard -->
	<filter>
		<filter-name>dashboard</filter-name>
		<filter-class>org.glassfish.jersey.servlet.ServletContainer</filter-class>
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>WebInterface.WebConfig</param-value>
		</init-param>
		<init-param>
			<param-name>jersey.config.servlet.filter.contextPath</param-name>
			<param-value>/dashboard</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>dashboard</filter-name>
		<url-pattern>/dashboard/*</url-pattern>
	</filter-mapping>

<!--  Servlet for the windows web service -->
	<filter>
		<filter-name>WindowsWS</filter-name>
		<filter-class>org.glassfish.jersey.servlet.ServletContainer</filter-class>
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>WindowsWS</param-value>
		</init-param>
		<init-param>
			<param-name>jersey.config.servlet.filter.contextPath</param-name>
			<param-value>/windows</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>WindowsWS</filter-name>
		<url-pattern>/windows/*</url-pattern>
	</filter-mapping>
	
	</web-app>
	
